<configuration>

  <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date{"HH:mm:ss.SSS"} %coloredLevel %logger - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- Set logging for all Play library classes to INFO -->
  <logger name="play" level="ALL" />
  <!-- Set logging for Application to INFO -->
  <logger name="application" level="ALL" />
  <!-- Set Akka to warn -->
  <logger name="akka" level="ALL"/>
  <!-- Set logging for all Play library classes to INFO -->
  <logger name="controller" level="ALL" />

  <root level="WARN">
    <appender-ref ref="STDOUT" />
  </root>

</configuration>